/Dhuum/evtcFiles/
/Dhuum/jsonFiles/
/Qadim/evtcFiles/
/Qadim/jsonFiles/
/Qadim the Peerless/evtcFiles/
/Qadim the Peerless/jsonFiles/
/Samarog/evtcFiles/
/Samarog/jsonFiles/
/.idea
/credentials.json
/token.json